*{
    margin: 0;
    padding:0;

}
.main{
    width: 100%;
    background:linear-gradient(to top,rgba(0,0,0,0.5)50%,rgba(0,0,0,0.5)50%),url(5.jpg);
    background-position: center;
    background-size: cover;
    height: 109vh;
    
}
.navbar{
    width: 1350px;
    height: 75px;
    margin: auto;
    background: linear-gradient(to top,rgba(0,0,0,0.5)40%,rgba(0,0,0,0.5)40%);
    
}

.icon{
    width: 200px;
    float: left;
    height: 70px;

}
.logo{
    color:rgb(8, 240, 8);
    font-size: 35px;
    font-family: Arial;
    padding-left: 20px;
    float: left;
    padding-top: 10px;
    
}


/* menu */

.menu{
    width: 800px;
    float: left;
    height: 70px;
    
    

}
ul{
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}
ul li{
    list-style: none;
    margin-left: 62px;
    margin-top: 27px;
    font-size:14px ;
}
ul li a{
    text-decoration: none;
    color: white;
    font-family: Arial;
    font-weight: Bold;
    transition: 0.4s ease-in-out;
}

ul li a:hover{
    color:green
}

/* search button */


.search{
    width: 330px;
    float: left;
    margin-left: 280px;
    
}

.srch{
    font-family: 'Times New Roman';
    width: 200px;
    height: 40px;
    background:transparent;
    border:1px solid green;
    margin-top: 13px;
    color:white;
    border-right: none;
    font-size: 16px;
    float: left;
    padding: 10px;
    border-bottom-left-radius: 5 px;
}

.btn{
    width: 100px;
    height: 40px;
    background: green;
    border: 2px solid green;
    margin-top: 13px;
    color: white;
    font-size: 15px;
    border-bottom-right-radius: 5px;
    border-bottom-right-radius: 5px;

}

.btn:focus{
    outline:none;

}
.srch:focus{
    outline: none;

}

/* content */

.content{
    width: 1200px;
    height: auto;
    margin: auto;
    color: white;
    position: relative;

}
.content .par{
    padding-left: 20px;
    padding-bottom: 25px;
    font-family: Arial;
    letter-spacing: 1.2px;
    line-height: 30px;

}
.content h1{
    font-family: 'Times New Roman';
    font-size: 50px;
    padding-left: 20px;
    margin-top: 9%;
    letter-spacing: 2px;

}
.content .cn{
    width: 160px;
    height:40px;
    background:rgb(5, 206, 5);
    border:none;
    margin-bottom:10px;
    margin-left: 20px;
    font-size: 18px;
    border-radius:10px;
    cursor: pointer;
}

.content .cn a{
    text-decoration: none;
    color:black;
    transition: .3s ease;

}
.cn:hover{
    background-color: white;

    
}
.contet span{
    color:green;
    font-size: 60px;
    
}

/*  Login form  */


.form{
    width: 250px;
    height: 380px;
    background: linear-gradient(to top,rgba(0,0,0,0.8)50%,rgba(0,0,0,0.8)50%);
    position: absolute;
    top: -20px;
    left: 880px;
    border-radius: 10px;
    padding:25px;
}

.form h2{
    width: 220px;
    font-family: sans-serif;
    text-align: center;
    color:green;
    font-size: 22px;
    background-color: white;
    border-radius: 10px;
    margin:2px;
    margin: 2px;
    padding: 8px;
}

.form input{
    width: 240px;
    height: 35px;
    background: transparent;
    border-bottom: 1px solid green;
    border-top: none;
    border-right: none;
    border-left: none;
    color: white;
    font-size: 15px;
    letter-spacing: 1px;
    margin-top:30px;
    font-family: sans-serif;

}
.form input:focus{
    outline: none;

}
::placeholder{
    color: white;
    font-family: arial;

}

.btnn{
    width: 240px;
    height: 40px;
    background: green;
    border: none;
    margin-top: 30px;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
    color: white;
    transition: 0.4s ease;

}

.btnn:hover{
    background: white;
    color:green;
}

.btnn a{
    text-align: none;
    color: black;
    font-weight: bold;
    text-decoration: none;
}

.form .link{
    font-family: arial;
    font-size: 17px;
    padding-top: 20px;
    text-align: center;

}
 .form .link a{
     text-decoration: none;
     color: green;
 }
.liw{
    padding-top: 15px;
    padding-bottom: 10px;
    text-align: center;
}

.icon{
    text-decoration: none;
    color: white;

}
      
.icons ion-icon{
    color: white;
    font-size: 30px;
    padding-left: 14px;
    padding-top: 5px;
    transition: 0.3s ease;

}

.icons ion-icon:hover{
    color: green;

}

/* middle section about */

.section{
    height: 300px;
    display: flex;
    align-items: centre;
    justify-content: space-evenly;
    max-width: 1100px;
    max-width: 80%;
    margin:auto;
    
}
.sectionTag{
    font-size: 33px;
    margin: 0;
    padding: 2px;
    margin-left: 1px;
}


.senctionsubTag{
    font-size: 20px;
    margin-left: 4px;
}

.secpara{
    padding: 30px 0;
    margin-left: 2px;
    
}
.thumbnail{
    padding: 30px 0;
}

.thumbnail img{
    width: 300px;
    border: 3px solid darkolivegreen;
    border-radius: 18px;
    
}

.section-left{
    flex-direction: row-reverse;
    
}

.secpax{
    padding:30px 0;
}



/*footer*/

.footer{
    height: 200px; ;
    background-color: rgb(5, 5, 5);
}

.footer .social{
    text-align: center;
    padding-top: 20px;
    padding-bottom: 25px;
    color:white
}

.footer .social a{
    font-size: 24px;
    color: honeydew;
    border: 1px solid white;
    width: 42px;
    height: 32px;
    line-height: 38px;
    display: inline-block;
    text-align: center;
    border-radius: 36%;
    margin: 0px 9px;
    transition: 0.3s ease;



}

.footer .social a:hover{

    color: green;
}

.footer ul{
    margin-top: 0;
    padding: 0;
    list-style: none;
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 0;
    text-align: center;
    margin-left: 220px;
}

.footer ul li a{
    color: white;
    text-decoration: none;
    opacity: 0.8;
    
}

.footer ul li {
    display: inline-block;
    padding: 0 15px;
    

}

.footer ul li a:hover{
    color: green;
}

.footer .copyright{
    margin-top: 75px;
    text-align: center;
    color: grey;
    font-family: sans-serif;
}











/*Responsive*/







