
.wrapper{
    background: transparent;
    background-image: url(3.jpg);
   
    width: 500px;
    padding: 25px;
    margin-left: 29%;
    
    box-shadow: 0px 5px 20px rgb(41, 41, 41);
    border-radius: 10px;
    
}
.wrapper h2{
    color: black;
    text-align: center;
    font-size: 30px;
    margin-top: -24px;
}
.wrapper h4{
    color: black;
    font-size: 25px;
    margin-top: -16px;

}
.input_group i{
    color: black;
    font-size: 20px;
}
.input_group{
    margin-bottom: 8px;
    position: relative;
    display: flex;
    flex-direction: row;
    padding: 5px 0;
}
.input_box{
    width: 100%;
}
.input_box .name:hover{
    background-color:/* #f2a65a*/silver;
    color: black;
}
.dob:hover{
    background-color:whitesmoke;
    color: black;
}
.input_box .name{
    padding: 1.5%;
    width: 80%;
    text-align: center;
    border-radius: 10px;
    border: 1px solid whitesmoke;
    transition: 0.3s;
}
.name{
    padding: 1.5%;
    width: 80%;
    text-align: center;
    border-radius: 10px;
    border: 1px solid whitesmoke;
}
.dob{
    width: 36px;
    padding: 1.5%;
    text-align: center;
    border-radius: 10px;
    border: 1px solid whitesmoke;
    transition: 0.3s;
}
input[type="radio"] {
    display: none;
}
.input_box label{
    width: 50%;
    padding: 7px;
    color: black;
    font-weight: bold;
    margin-left: 12px;
    cursor: pointer;
    border: 3px solid white;
    border-radius: 10px;
    transition: 0.2s linear;

}
.input_box label:hover{
    border: 3px solid white;
    border-radius: 10px;
    background-color:white;
    color:white;
    padding: 7px;
    cursor: pointer;
}
input[type="radio"]:checked+label{
    border: 3px solid white;
    border-radius: 10px;
    background-color: black lightblue   ;
    color: #100f0f;;
    padding:7px;
}
.submit{

    width: 50%;
    padding: 7px;
    color: #100f0f;
    font-size: 25px;
    font-weight: bold;
    /*background-color: white;*/
    margin-left: 12px;
    cursor: pointer;
    border: 3px solid white;
    border-radius: 10px;
    transition: .5s linear;
    margin-left: 25%;
}
.submit:hover{
    border: 3px solid white;
    border-radius: 10px;
   /* background-color:whitesmoke;*/
    color: white;
    padding: 7px;
    cursor: pointer;
}