@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap');

:root{
    --green:#0d9979;
}

*{
    font-family: 'Open Sans', sans-serif;
    margin:0; padding:0;
    box-sizing: border-box;
    text-transform: capitalize;
    text-decoration: none;
    transition: all .5s cubic-bezier(.37,1.14,.26,1.24);
}

*::selection{
    background:var(--green);
    color:#fff;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
}



.nav{
	color: white;
	display: flex;
	justify-content: space-between;
	width: 90%;
	margin:0px;
	font-size: 25px;
    margin-bottom: 40px;
}

.logo{
    font-family: sans-serif;
    font-size: 35px;
    font-weight: bolder;
    color: rgb(5, 214, 5);
}
.nav span {
	margin-left: 20px;
    font-family: sans-serif;
    font-weight: Bold;
    transition: 0.4s ease-in-out;
}
.nav span a{
	color: white;
	text-decoration: none;

}
.nav span a:hover{
    color:green
}

.service{
    background:url(9.jpg);
    min-height: 100vh;
}
.service .heading{
    font-size: 35px;
    color: white;
    justify-content: center;
    text-align: center;
}

.service .box-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 80%;
    margin:0 auto;
}

.service .box-container .box{
    flex:1 1 25rem;
    padding:2rem 1rem;
    text-align: center;
    background: #fff;
    border:.2rem solid green;
    margin:2rem;
    cursor: pointer;
}
.service .fas{
    font-size: 35px;
}
.service .box-container .box i{
    color: green;
    font-size: 4rem;
    padding:1rem 0;
}

.service .box-container .box h3{
    color: #333;
    font-size: 2rem;
}

.service .box-container .box p{
    color: #666;
    font-size: 1.5rem;
    padding:1rem 0;
}

.service .box-container .box a{
    color:#333;
    font-size: 1.7rem;
}

.service .box-container .box a:hover{
    color:green;
}

.service .box-container .box:hover{
    box-shadow: 0 .3rem .5rem rgba(0,0,0,.3);
}

.service .box-container .box .fas{
    font-size: 35px;
}

/* media queries  */

@media (max-width:768px){

    html{
        font-size: 55%;
    }

    header .fa-bars{
        display: block;
    }


    .service .box-container{
        width: auto;
    }


}
